body{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #333;
}

h1 {
    font-size: 18px;
    color: #2f3542;
}

h2{
    font-size: 12px;
    color: #666666;
}

h3, a:active, a:focus, a{
    font-size: 14px;
    color: #333;
}



.borda{
    border: 2px solid red;
    border-radius: 8px;
}

.blocos-pagina-principal{
    margin: 7px;
    border: 1px solid #ccc;
    border-radius: 7px;
}

.titulo-bloco{
    padding: 15px;
    padding-left: 15%;
    background-color: #f1f2f6;
}

.centro-bloco{
    padding: 13px;
    padding-left: 10%;
}

.padding-top{
    padding-top: 25px; 
}

.bottom-bloco{
    border-top: 1px solid #ccc;
}
/*Login<--*/
.linha-main-login{
    margin: 5%;
}

/*Este @media tem a função de manter a largura desejada dos forms para todos os pixels*/
@media only screen and (max-width: 3000px) {
    .largura-formulario {
        padding: 0 20rem 0 20rem;
    }
    .largura-formulario-login {
        padding: 0 25rem 0 25rem;
    }
    .linha-main {
        margin: 5%;
        padding: 0 10rem 0 10rem;
    }
}
@media only screen and (max-width: 1024px) {
    .largura-formulario, .largura-formulario-login, .linha-main {
        padding: 0;
    }
}
.input-padding{
    margin-right: 10px;
    padding-left: 10%;
}

input, input::after, input:focus{
    border: none;
    border-bottom: solid 1px #BCBCBC;
}

.align-itens-center{
    padding: 10px 0 10px 11%;
}

.align-legend-new-client{
    padding-top: 2.5px;
}

.modal-header {
    background-color: #f1f2f6;
}

.input-padding-resumo{
    margin-right: 10px;
    padding: 15px 0 0 10%;
}