body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 5%;
    letter-spacing: 2%;
    color: #333;
}

header,
section,
footer {
    display: block;
}

h1 {
    font-size: 18px;
    color: #2f3542;
}

h2 {
    font-size: 12px;
    color: #666666;
}

h3,
a:active,
a:focus,
a,
a:hover {
    font-size: 1rem;
    color: #333;
    text-decoration: none;
}


/* Temporários */

.borda {
    border: 2px solid red;
    border-radius: 8px;
}


/* --------------------------------- */


/* Nav */

.align--itens {
    align-items: center !important;
}

@media only screen and (min-width: 768px) {
    .btn-desconectar-align {
        display: block;
        position: relative;
        left: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .align--itens {
        align-items: initial !important;
        position: relative;
        left: 10px;
    }
}

.block {
    border: 1px solid #ccc;
    border-radius: 7px;
    padding-bottom: 1rem;
    margin: 10px;
}

@media only screen and (max-width: 600px) {
    .block {
        margin: 0;
        margin-top: 15px;
    }
}

#btn-encerramento {
    float: right;
}

.titulo-bloco {
    padding: 15px;
    padding-left: 10%;
    background-color: #f1f2f6;
}

.middle--block {
    padding: 5%;
}

.bottom-bloco {
    border-top: 1px solid #ccc;
    padding-top: 15px;
    display: block;
    padding-left: 10%;
}


/*Login<--*/

.content {
    margin: 5%;
}

.input-padding {
    margin-right: 10px;
    padding-left: 10%;
}

input,
input::after,
input:focus {
    border: none;
    border-bottom: solid 1px #BCBCBC;
}

.align-legend-new-client {
    padding-top: 2.5px;
}

.modal-header {
    background-color: #f1f2f6;
}

.input-padding-resumo {
    margin-right: 10px;
    padding: 15px 0 0 10%;
}

.content-block {
    margin-top: 1rem;
}

.align--btn {
    margin-top: 10px;
}

#valorEmprestimo {
    width: 40%;
}

#prazoPagamento {
    width: 30%;
}

#dataEntradaEmprestimo {
    width: 80%;
}

.esqueci-a-senha {
    margin-top: 10px;
}


/*Footer*/

.love {
    color: red;
}

.footer {
    margin-top: 100px;
}

.footer p {
    text-align: center;
}

.night-mode-icon {
    display: inline-block;
    position: relative;
    left: 0.5%;
}

@media only screen and (max-width: 738px) {
    .night-mode-icon {
        left: 47%;
    }
}

span.night-mode-text {
    margin-left: 20px;
}

@media only screen and (max-width: 738px) {
    span.night-mode-text {
        display: block;
        text-align: center;
        margin: 0;
    }
}

.night-mode {
    --bg-dark: #333333;
    --bg-dark-soft: #2b2b2b;
    --font-color-dark: #ddd;
}

.night-mode body {
    background-color: var(--bg-dark);
    color: var(--font-color-dark);
}

.night-mode .titulo-bloco {
    background-color: var(--bg-dark-soft);
}

.night-mode h1,
h3,
h2,
a,
a:hover {
    color: var(--font-color-dark);
}

.night-mode .bg-light {
    background-color: var(--bg-dark-soft) !important;
}

.night-mode .block {
    border-color: var(--bg-dark-soft);
}

.night-mode .navbar-light .navbar-nav .nav-link.active {
    color: var(--font-color-dark) !important;
}

.night-mode .bottom-bloco {
    border-top: 1px solid var(--bg-dark-soft);
}

.night-mode .modal-header {
    background-color: var(--bg-dark-soft);
}

.night-mode .modal-content {
    background-color: var(--bg-dark);
}


/* Night mode switch button */


/* Estilo Flat */


/* Estilo iOS */

.switch-container {
    margin: 30px auto;
    width: 62px;
}

.switch {
    visibility: hidden;
    position: absolute;
    margin-left: -9999px;
}

.switch+label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
}

.switch-shadow+label {
    padding: 2px;
    width: 62px;
    height: 30px;
    background-color: #dddddd;
    border-radius: 60px;
    transition: background 0.4s;
}

.switch-shadow+label:before,
.switch-shadow+label:after {
    display: block;
    position: absolute;
    content: "";
}

.switch-shadow+label:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-color: #fff;
    border-radius: 60px;
    transition: background 0.4s;
}

.switch-shadow+label:after {
    top: 4px;
    left: 4px;
    bottom: 4px;
    width: 25px;
    background-color: #dddddd;
    border-radius: 52px;
    transition: margin 0.4s, background 0.4s;
}

.sswitch-shadow:checked+label {
    background-color: var(--bg-dark);
}

.switch-shadow:checked+label:after {
    margin-left: 30px;
    background-color: #8ce196;
}